<nav class="container mt-5">
    <ul class="d-flex justify-content-around"> 
         <li class="list-unstyled"><a class="nav-link" href="http://localhost:3000">Home</a></li>
         <li class="list-unstyled"><a class="nav-link" href="http://localhost:3000/store">Store</a></li>
         <li class="list-unstyled"><a class="nav-link" href="http://localhost:3000/about">About</a></li>
         <li class="list-unstyled"><a class="nav-link" href="http://localhost:3000/contact">Contact</a></li>
    </ul>
</nav>